*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    font-family: 'roboto', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(/P_assets/r9.png);
    background-size: cover;
    background-position: center;


    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0px;
  border-bottom: transparent 1px solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.auth-buttons .sign-in,
.auth-buttons .sign-up {
  padding: 10px 25px;
  border-radius: 18px;
  font-weight: bold;
}

.sign-in {
  color: #F53855;
  border: 1px solid transparent;  
  padding-right: 20px;
}
.sign-in:hover{
    background-color: #F53855;
    color: #ffffff;   
}

.sign-up {
  border: 1px solid #F53855;
  color: #F53855;
}

.sign-up:hover {
  background-color: #F53855;
  color: #EEEFF2;
}
.body{
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 37%;
    padding-right: 10%;

}
form{
    width: 330px;
    height: 360px;
    background: linear-gradient(#ffffff34, #ffffff27);
    backdrop-filter: blur(7px);
    border: 1px solid #c06f0c83;
    box-shadow: 0 8px 32px rgb(255, 38, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.logo {
  display: flex;
  gap: 4px;
  font-size: 28px;
  font-weight:900;
}
span{
    color: #9c3704;
}
form h1{
    margin-bottom: 0px;
    font-size: 40px;
    color: rgb(168, 78, 29);
    transform: scaleX(1.3) scaleY(1.3);
}

form .txt{
    padding: 10px;
    width: 250px;
    border: 1px solid #c05b21ac;
    border-radius: 30px;
    margin-top: 20px;
    height: 40px;
    outline: none;
    background-color: transparent;
    

}
input::placeholder{
    color: #a74f20b9;
    font-size: 0.8rem;
    letter-spacing:0.3px ;

}

.user{
    position: absolute;
    top: 30%;
    right: 15%;
}
.lock{
    position: absolute;
    top: 46.8%;
    right: 15%;
}
a{
    text-decoration: none;
    color: #9c3704;
    font-weight: bold;
}
.last{
    width: 250px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}
.last input{
    width: 10px;
    outline: none;
    border: none;
}
.button{
    outline: none;
    border: none;
    font-size: 0.8rem;
    padding: 10px 50px;
    border-radius: 30px;
    margin: 15px 0px;
    cursor: pointer;
    background-color: #9f6c54;
    color: #fff;
}
.button:hover{
    color: #f7f3f2;
    transform: scaleX(1.3) scaleY(1.1);
    transition: transform 0.5s;
}
p{
    font-size: 0.9rem;
    color: #9c3704;
}
